/*body {
    height: 2000px;
}*/

.main-header {
    color:red;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    border: 3px red solid;
    margin: 2px;
}

.main-header:hover {
    background-color: rgb(173, 165, 165);
}

.rand2 {
    display: flex;
    /*justify-content: space-between;*/
    /*flex-direction: row;*/
    /*align-items: stretch;*/
}


.col {
    float: left;
    width: 33.3%;
}


.image {
    border: 3px blue solid;
    padding: 0px;
    margin: 2px;
    /*flex: auto;*/
}

.image:hover {
    background-color: rgb(173, 165, 165);
}

/*imaginea ocupa tot chenarul*/
img {
    width: 100%;
    height: 100%; 
}

.clasalista {
    padding: 0px;
}

.list {
    border: 3px green solid;
    padding: 0px;
    margin: 2px;
    /*flex: auto;*/
}

.list li {
    list-style-type: none;
    text-align: center;
    font-size: 90%;
    color: black;
}


.list:hover {
    background-color: rgb(173, 165, 165);
}

#tutorials{
    font-size: 120%;
}

a {
    color: black;
}

a:hover {
    color:blueviolet;
}

/*dimensiunile fiecarui input*/
input {
    height: 20px;
    width: 100px;
    margin: 4px;
}

/*pentru a crea chenarul portocaliu*/
.input {
    border: 3px orange solid;
    margin: 2px;
    padding: 0px;
    /*flex: auto;*/
}

.input:hover {
    background-color: rgb(173, 165, 165);
}


/*dimensiunile etichetelor*/
label {
    color: orange;
    padding: 4px;
}

#gender {
    color: orange;
}

/*am modificat dimensiunile genderinputul pentru ca cercuetele de bifat
sa nu fie foarte mari si nici forte departate de input*/
#genderinput {
    margin: 0px;
    width: 20px;
    height: 15px;
}

/*am modificat lungimea pt textarea ca sa fie la fel ca cea de la name input */
#textarea {
    width: 100px;
}


/*pentru a se redimensiona odata cu pagina*/
.clasabuton1 {
    display: flex;
    justify-content: flex-end;
}

#buton1 {
    width: 150px;
    height: 50px;
    border: 4px black solid;
    font-weight: bold;
    color: red;
    background-color: yellow;
    text-transform: uppercase;
    text-align: center;
}

#buton1:hover {
    color: black;
    background-color: blue;
}

.chenar {
    border: 3px violet solid;
    margin: 2px;
    padding: 4px;
    height: 100%;
}

.chenar:hover {
    background-color: rgb(173, 165, 165);
}


#tabel {
    border-collapse: collapse;
    width: 67%;
    padding: 20px;
}

#tabel th {
    color: rgb(94, 185, 155);
    font-weight: lighter;
}

#tabel th, #tabel td {
    height: 40px;
    width: 100px;
    text-align: center;
}

#buton2 {
    border: 2px solid;
}